* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.text {
    text-transform: uppercase;
}

#menu-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
}

.logo {
  display: block;
  float: left;
  margin-left: 5%;
  margin-top: 3%;
}

.logo a img {
  width: 4rem;
  height: 2.84rem;
}

.menu-trasparent {
  padding: 25px 10% 25px 10%;
}

.menu-white {
  padding: 5px 10% 5px 10%;
  font-size: 1em;
}


.menu {
  display: block;
  float: right;
}

.menu li {
  display: inline-block;
  margin: 0px 10px;
  color: #fff;
}

.menu.text {
  margin-top: 3%;
  margin-right: 5%;
}

#menu-nav.main {
  line-height: inherit;
  list-style: none;
  font-weight: 700;
}

#section1 {
  background-image: url("../assets/images/hero.gif");
  background-repeat: no-repeat;
  padding-bottom: 100px;
  background-size: 100%;
  min-height: 700px;
}

.style1 {
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
  padding: 8em 0 2em 0;
  position: relative;
  text-align: left;
}

#section1 h1 {
  color: inherit;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 0;
}

#section1 h2 {
  color: inherit;
  letter-spacing: 1.5px;
  font-size: .875rem;
  margin-top: .5rem;
  font-weight: 700;
  line-height: 1.1;
}

#section1 p {
  margin-top: 0;
  margin-bottom: .5rem;
  color: #728099;
  font-size: .6rem;
}

.pink {
  color: #ff00bf;
}
#section1 form input {
  border: none;
  font-size: 20px;
  color: #728099;
}

#section1 .buttom {
  margin-top: .5rem;
}

#section1 .buttom button {
  color: #fff;
  background-color: #ff00bf;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: .08333rem solid transparent;
  padding: .75rem 1.25rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .5rem;
}

.box {
  background-color: #fff;
  color: #352384;
  width: 35%;
  margin-left: 60%;
  padding: 10px;
}
/*Codigo Karina*/
footer{
  background: #333447;
}
.footer-img{
  width: 100px;
}
.line{
  display: inline-block;
  margin-left:150px;
  margin-top: 5px;
  box-sizing: border-box;
  color: #fff;
  }
